<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Measurement</title>
    <link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}"/>
    <script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>

    <script type="text/javascript" src="/static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
    <script type="text/javascript" src="/static/app/measurement.controller.js" th:src="@{/app/measurement.controller.js}"></script>
</head>
<body ng-app="app" ng-controller="MeasurementControler as vm">
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Measurement</a>
            </div>
            <p class="navbar-text navbar-right" th:text="${#dates.format(datetime, 'dd MMM yyyy HH:mm')}" style="margin-right: 10px;">Page was rendered today.</p>
        </div>
    </nav>
</header>

<div>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <!-- Get all bookings or only affordable ones -->


            <!-- Display bookings in a table -->
            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Temperature</th>
                    <th style="width: 90px"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="meas in vm.measurements">
                    <td>{{meas.date}}</td>
                    <td>{{meas.temperature}}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</body>
</html>